body{
    background-color: rgb(37,37,37);
    color: white;
    font-family: 微软雅黑;
    font-size: 14px;
}

.footer{
    font-family: 楷体;
    position: absolute;
    bottom: 0;
    left: 43%;
}

.modal-hd{
    background-color: rgb(37,37,37);
}

