<script>
#parse("/screen/offer/script.vm")
</script>

    <div class="table-responsive" style="width: 90%; margin: auto;">
        <table class="table table-bordered" style="white-space: nowrap">
            <caption>查询结果</caption>
            <thead>
            <tr>
                <th>委托序号</th>
                <th>证券代码</th>
                <th>证券名称</th>
                <th>委托方向</th>
                <th>委托状态</th>
                <th>委托价格</th>
                <th>委托数量</th>
                <th>成交数量</th>
                <th>成交价格</th>
                <th>委托时间</th>
            </tr>
            </thead>
            <tbody id = 'queryTableContent'>
            <tr><td colspan="25" align="center">无数据</td></tr>
            
            </tbody>
        </table>
    </div>