var rs;

function dic_stockStatus(stockStatus){
    if(stockStatus == "1")
        return "正常";
    if(stockStatus == "2")
        return "停牌";
}

function update(){
    $.post("${appServer}/zl/add/query.json",
        {
            account: getUrlParam("capitalAccountId")
        },
        function(data){
            $("#assetTable").html(
                "<tr>"+
                    "<td>"+data.asset.totalValue+"</td>"+
                    "<td>"+data.asset.beginCash+"</td>"+
                    "<td>"+data.asset.currentCash+"</td>"+
                    "<td>"+data.asset.stockAssetValue+"</td>"+
                    "<td>"+data.asset.availableBalance+"</td>"+
                "</tr>");
            
            for(var i = 0; i < data.stock.length; i++){
                var stockRow = 
                    "<tr>"+
                        "<td>"+data.stock[i].currentAmount+"</td>"+
                        "<td>"+data.stock[i].enableAmount+"</td>"+
                        "<td>"+data.stock[i].reportCode+"</td>"+
                        "<td>"+data.stock[i].stockName+"</td>"+
                        "<td>"+data.stock[i].lastPrice+"</td>"+
                        "<td>"+dic_stockStatus(data.stock[i].stockStatus)+"</td>"+
                        "<td>"+data.stock[i].yesterdayClosePrice+"</td>"+
                    "</tr>";
                if(i==0){
                    $("#stockTable").html(stockRow);
                }
                else{
                    $("#stockTable").append(stockRow);
                }
            }
        }
    );
}

function query(){
    $.post("${appServer}/zl/add/query.json",
        {
            account: getUrlParam("capitalAccountId")
        },
        function(data){
            $("#assetTable").html(
                "<tr>"+
                    "<td>"+data.asset.totalValue+"</td>"+
                    "<td>"+data.asset.beginCash+"</td>"+
                    "<td>"+data.asset.currentCash+"</td>"+
                    "<td>"+data.asset.stockAssetValue+"</td>"+
                    "<td>"+data.asset.availableBalance+"</td>"+
                "</tr>");
            
            for(var i = 0; i < data.stock.length; i++){
                var stockRow = 
                    "<tr>"+
                        "<td>"+data.stock[i].currentAmount+"</td>"+
                        "<td>"+data.stock[i].enableAmount+"</td>"+
                        "<td>"+data.stock[i].reportCode+"</td>"+
                        "<td>"+data.stock[i].stockName+"</td>"+
                        "<td>"+data.stock[i].lastPrice+"</td>"+
                        "<td>"+dic_stockStatus(data.stock[i].stockStatus)+"</td>"+
                        "<td>"+data.stock[i].yesterdayClosePrice+"</td>"+
                    "</tr>";
                if(i==0){
                    $("#stockTable").html(stockRow);
                }
                else{
                    $("#stockTable").append(stockRow);
                }
            }
            
            var directionRow = 
                    "<option value="+ 1 +">"+
                        "买入"+
                    "</option>"+
                    "<option value="+ 2 +">"+
                        "卖出"+
                    "</option>";
            $("#entrustDirection").html(directionRow);
            
            for(var i = 0; i < data.accounts.length; i++){
                var accountRow = 
                    "<option value="+ data.accounts[i].capitalAccountId +">"+
                        data.accounts[i].capitalAccountNo+" "+
                        data.accounts[i].capitalAccountName+
                    "</option>";
                if(i==0){
                    $("#tradeOperator").html(accountRow);
                }
                else{
                    $("#tradeOperator").append(accountRow);
                }
            }
            
            $("#report").AutoComplete({
                'data': data.reports,
                'width': 'auto',
                'maxItems': 5,
                'listStyle': 'custom',
                'createItemHandler': function(index, data){
                    return "<span style='color:black;'>"+data.label+"</span>";
                },
            }).AutoComplete('show');
            
            rs=data.reports;
        }
    );
}

function checkNotNull(id){
    var a=$(id).val();
    if(a=="") {
        $(id).css("background","pink");
        return -1;
    }
    return 0;
}

function check(){
        $("#report, #insPrice, #insAmount, #insBalance")
            .css("background","white");
        var r = 0;
        r = checkNotNull("#insPrice");
        r = checkNotNull("#insAmount");
        r = checkNotNull("#insBalance");
        
        var report=$("#report").val();
        if($.inArray(report, rs)<0) {
            $("#report").css("background","pink");
            r=-1;
        }
        return r;
}

function add(){
    $.post("${appServer}/zl/add/add.json",
        {
            account: getUrlParam("capitalAccountId"),
            insPrice: $("#insPrice").val(),
            insAmount: $("#insAmount").val(),
            insBalance: $("#insBalance").val(),
            report: $("#report").val(),
            entrustDirection: $("#entrustDirection").val(),
            tradeOperator: $("#tradeOperator").val(),
            remark: $("#remark").val()
        },
        function(data){
            if(data.error){
                $('#mbBody').html(data.error);
                $('#mb').modal('show');
                $('#mbButton').click(function(){
                    $('#mb').modal('hide');
                });
            }else{
                if(data.risk=="3"){
                    $('#mbLabel').html("风控禁止");
                    for(var i = 0; i < data.riskDetail.length; i++){
                        if(i==0){
                            $('#mbBody').html("<p>"+data.riskDetail[i].remarkShort+"</p>");
                        }
                        else{
                            $('#mbBody').append("<p>"+data.riskDetail[i].remarkShort+"</p>");
                        }
                    }
                    $('#mb').modal('show');
                    $('#mbButton').click(function(){
                        $('#mb').modal('hide');
                    });
                }
                else if(data.risk=="2"){
                    $('#mbLabel').html("风控警告");
                    for(var i = 0; i < data.riskDetail.length; i++){
                        if(i==0){
                            $('#mbBody').html("<p>"+data.riskDetail[i].remarkShort+"</p>");
                        }
                        else{
                            $('#mbBody').append("<p>"+data.riskDetail[i].remarkShort+"</p>");
                        }
                    }
                    $('#mbButton').html("继续下达");
                    $('#mb').modal('show');
                    $('#mbButton').click(function(){
                        $.post("${appServer}/zl/add/continue.json",
                            {
                                account: data.account,
                                insPrice: data.insPrice,
                                insAmount: data.insAmount,
                                insBalance: data.insBalance,
                                report: data.report,
                                entrustDirection: data.entrustDirection,
                                tradeOperator: data.tradeOperator,
                                remark: data.remark,
                                insId: data.insId,
                                insStockId: data.insStockId,
                                serialNo: data.serialNo
                            },
                            function(data){
                                if(data.error){
                                    alert("数据错误!");
                                }
                                update();
                            }
                        );
                        
                        $('#mb').modal('hide');
                    });
                }
                else{
                    update();
                    $('#mbLabel').html("消息");
                    $('#mbBody').html("下达成功");
                    $('#mb').modal('show');
                    $('#mbButton').click(function(){
                        $('#mb').modal('hide');
                    });
                }
            }
        }
    );
}

$(function(){
    query();
    
    $("#insPrice, #insAmount").change(function(){
        var balance = $("#insPrice").val()*$("#insAmount").val();
        $("#insBalance").val(balance.toFixed(2));
    });
    
    $("#add").click(function(){
        if(check()==0){
            add();
        }
    });
});